<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @notification.body %>
</p>

<p>
  <strong>Targets:</strong>
  <%= @notification.targets %>
</p>

<p>
  <strong>Sound:</strong>
  <%= @notification.sound %>
</p>

<p>
  <strong>Date:</strong>
  <%= @notification.date %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
